<div class="challenge-accepted hidden">
  <img src="/assets/images/challenge-accepted.png" alt="challenge accepted" />
  <span class="player-2"></span>
  <span class="versus">VS</span>
  <span class="player-1"></span>
</div>

<div class="fight">
  <div>
    <span class="player">
      {{#source}}{{source}}{{/source}}
      {{^source}}You{{/source}} 
    </span> 
    <span class="challenge-text">challenged</span>
    <span class="player">
      {{#target}}{{target}}{{/target}}
      {{^target}}You{{/target}} 
    </span>
    <div>
    {{^source}}
      {{#target}}
      <a href="#" rel="cancel" class="btn">Cancel Challenge Request</a>
      {{/target}}
      {{/source}}
      
      {{^target}}
      {{#source}}
      <a href="#" rel="accept" class="btn">Accept Challenge</a> or <a
        rel="cancel" href="#">decline</a>
      {{/source}}
      {{/target}}
      
    </div>
    <h3 class="hidden">Challenge Cancelled :(</h3>
  </div>
</div>
