<section class="col four offset-4">
    <form>
        <fieldset>
            <div>
                <label for="nick">Nick:</label>
                <input required type="text" id="nick" />
                <span class="error" aria-live="polite"></span>
            </div>
            <div>
                <label for="email">Email:</label>
                <input required type="email" id="email"/>
                <span class="error" aria-live="polite"></span>
            </div>
            <div class="button">
                <button type="submit">Play!</button>
            </div>
        </fieldset>
    </form>
</section>