* {
	margin:0;
	padding:0;
}
html {
	height:100%;
}
body {
    background:#013e73;
    box-shadow:#fff -10px 0 inset,
        #fff 10px 10px inset;
	color:#fff;
    font:100%/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height:100%;
    min-width:320px;
    -webkit-font-smoothing:antialiased;
}
a {
	color:#21a1d9;
	text-decoration:none;
}
a:hover,
a:active {
	color:#2eaee5;
}
img {
    border:0;
}
/* Type */
h1, h2, h3, h4, h5, h6 {
    clear:both;
    line-height:1;
    text-rendering:optimizeLegibility;
    word-wrap:break-word;
}
h1 {
    font-size:1.75em; /* 28px */    
    margin:0 0 0.71428571428571em;
}
h2 {
    font-size:1.5em; /* 24px */
    margin:0 0 0.83333333333333em;
}
h3 {
    font-size:1.25em; /* 20px */
    margin:0 0 1em;
}
h4 {
    font-size:1.125em; /* 18px */
}
h5 {
    font-size:1em; /* 16px */
}
h6 {
    font-size:.875em; /* 14px */
}
p, ul, ol, dl, table, label, figcaption {
    font-size:.875em;  /* 14px */
    margin:0 0 1.42857142857143em;
}
ul p, ol p, table p, ul ul, ol ol, ul ol, ol ul {
    font-size:1em; /* 14px / 14px */
}
strong {
    font-weight:bold;
}
em { 
    font-style:italic;
}
small {
    font-size:.85714285714286em;  /* 12px / 14px */
}
.hidden {
	display:none;
}
/* Forms */
fieldset {
	border:0;
	margin:0;
	padding:0;
}
fieldset > div {
    display:block;
    margin:0 0 1.42857142857143em;
    position:relative;
    vertical-align:top;
    width:100%;
}
label {
    color:#fff;
    display:block;
    font-size:14px;
    font-weight:bold;
    line-height:15px;
    margin:0;
    min-height:20px;
    padding:0 1px;
    /*text-shadow:rgba(255, 255, 255, .4) 0 1px;*/
}
label span {
    color:#666;
    font-size:12px;
    font-style:normal;
    font-weight:normal;
    padding:0 0 0 5px;
    text-shadow:#edf8ff 0 1px;
}
label span.note {
    display:block;
    margin:5px 0;
    padding:0;
}
input[type="checkbox"] + label,
input[type="radio"] + label {
    display:inline-block;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    background-color:#fbfbfb;
    border-color:#012240;
    border-style:solid;
    border-width:1px;
    border-radius:4px;
    /*box-shadow:0 1px 0 rgba(255,255,255,.5);*/
    font-size:14px;
    height:35px;
    line-height:20px;
    padding:5px 10px;
    vertical-align:middle;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    transition:all .2s linear;
}
select {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAJCAYAAADpeqZqAAAAOUlEQVR42pXLMQ4AIAzDQP6Rz/bnQSBV3kgZ7O2W7e/uJHlao1MNQYGAEYACBIAeEBAQEJAQATLKbUTDJt0Ayyp/AAAAAElFTkSuQmCC);
    background-repeat:no-repeat;
    background-position:99% 50%;
    box-shadow:inset 0 1px 0 #fff,
        0 1px 1px 0 rgba(18,22,26,.1),
        inset 0 10px 15px 0 #fff;
    outline:0;
    padding:5px 5px 5px 10px;
    /*negate some browser defaults  */
    -webkit-appearance:none;
    -moz-appearance:-moz-initial;
    -moz-background-clip:padding;
    -webkit-background-clip:padding;
    background-clip:padding-box;
}
select option {
    border:none;
    padding:5px;
}
textarea {
    display:block;
    min-height:80px;
    padding:10px;
}
input[type="checkbox"],
input[type="radio"] {
    display:inline-block;
    margin:2px 3px 0 0;
    vertical-align:top;
}
input[type="file"] {
    height:30px;
}

button,
input[type="submit"] {
    background:#e82727;
    border:2px solid #fff;
    border-radius:4px;
    /* box-shadow:#fff 0 1px 0 inset;*/
    color:#fff;
    display:inline-block;
    font-size:15px;
    font-weight:600;
    height:auto;
    line-height:20px;
    padding:9px 15px;
    text-decoration:none;
    /*text-shadow:#fff 0 1px 0;*/
    white-space:normal;
    width:auto;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    -ms-transition:all .2s linear;
    transition:all .2s linear;
}
button:hover,
input[type="submit"]:hover {
    background-color:#e83f3f;
    cursor:pointer;
    text-decoration:none;
}
button:active,
input[type="submit"]:active {
    background-color:#e83f3f;
    cursor:pointer;
    text-decoration:none;
}
/* Focus */
:focus{outline:0;}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
    background-color:#fff;
    border-color:#21a1d9;
    box-shadow:0 0 2px 0 #24b4f2;
}
button:focus {
    /*box-shadow:inset 0 1px 0 rgba(255,255,255,.3),
        0 0 4px 2px #61bbf2;*/
}
.logo {
    background:url(/assets/images/logo.png) no-repeat;
    background-size:300px;
    height:300px;
    margin:0 auto;
    overflow:hidden;
    text-indent:-9999em;
    width:300px;
    -webkit-animation:bounce-in 1s ease-in-out;
}
.navigation {
    font-size:.75em; /* 12px */
    position:absolute;
    right:20px;
    top:20px;
}
.players {
    margin:0 10px;
    padding:10px 20px;
    border-bottom:#0259a6 1px solid;
}
.players:first-child {
    border-top:#0259a6 1px solid;   
}
.players:hover {
    background:rgba(0,0,0,.2);
}
.players .nick {
    display:inline-block;
    margin:0;
}
.challenge-btn {
    display:inline-block;
    float:right;
    vertical-align:middle;
}
.fight {
    background:rgba(0,0,0,.2) url(/assets/images/net.png);
    background-size:91px 91px;
    border-top:#fff 10px solid;
    margin:0 10px;
    padding:20px;
    text-align:center;
}
.fight .player {
    display:inline-block;
    font-size:1.75em; 
    font-weight:bold;
    vertical-align:middle;
}
.challenge-text{
    background:url(/assets/images/challenge-text.png) no-repeat;
    background-size:131px 22px;
    display:inline-block;
    height:22px;
    overflow:hidden;
    text-indent:-9999em;
    vertical-align:middle;
    width:131px;
    -webkit-animation:wobble .5s ease-in-out;
}
.versus {
    background:url(/assets/images/vs.png) no-repeat;
    background-size:150px 90px;
    display:inline-block;
    height:90px;
    overflow:hidden;
    text-indent:-9999em;
    vertical-align:middle;
    width:150px;
}
.challenge-accepted {
    padding:20px;
    position:absolute;
    text-align:center;
    top:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-animation:bounce-in 1s ease-in-out;
}
.challenge-accepted img {
    max-width:100%;
}
.challenge-accepted .player-1 {
    text-align:right;
    vertical-align:top;
}
.challenge-accepted .player-2 {
    vertical-align:bottom;
}
.errors {
    text-align:center;
}
.btn {
    background:#e82727;
    border:2px solid #fff;
    border-radius:4px;
    color:#fff;
    display:inline-block;
    font-weight:bold;
    padding:8px 6px;
    
}
.btn:hover {
    color:#fff;
}
@-webkit-keyframes bounce-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
    }

    70% {
        -webkit-transform: scale(.9);
    }

    100% {
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes wobble {
    0% { -webkit-transform: translateX(0%); }
    15% { -webkit-transform: translateX(-25%) rotate(-5deg); }
    30% { -webkit-transform: translateX(20%) rotate(3deg); }
    45% { -webkit-transform: translateX(-15%) rotate(-3deg); }
    60% { -webkit-transform: translateX(10%) rotate(2deg); }
    75% { -webkit-transform: translateX(-5%) rotate(-1deg); }
    100% { -webkit-transform: translateX(0%); }
}

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {

}

